html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

ul {
    list-style-type: none;
}

.center-elements {
    align-items: center;
    display: flex;
}

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: all .3s;
}

.deck .card:hover {
    background-color: rgba(46, 61, 73, 0.90);
}
.deck .card.open {
    background: #02b3e4;
    cursor: default;
    font-size: 33px;
}
.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}
.deck .card.mismatch {
    background-color: #F44336;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
.overlay {
    background-color: transparent;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}

#congratulations-screen {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    position: fixed;
    display: none;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.9);
}
.congratulations-screen-scoreBoard {
    max-width: 600px;
    border-radius: 6px;
    margin: 4em auto;
    padding: 1em;
    background: #F5F5F5;
}
.congratulations-message {
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
}
.congratulations-stars {
    padding: 0;
    color: #FFEE58;    
}
.congratulations-stars li {
    display: inline-block;
}
.congratulations-stats {
    width: 64px;
    font-weight: 400;
    margin: .3em;
    color: rgba(0, 0, 0, 0.5);
}
.reload-button {
    padding: .6em;
    width: 100%;
    font-size: 1.2rem;
    border: none;
    background-color: #4DD0E1;
    color: white;
    font-weight: 700;
    transition: all .25s;
}
.reload-button:hover {
    background-color: #01579B;
}

/* Media queries */
@media only screen and (max-width: 510px) {
    h1 {
        font-size: 1.8em;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .deck {
        max-width: 400px;
        justify-content: space-around;
        box-shadow: none;
    }
    .deck .card {
        height: 80px;
        width: 80px;
    }
    .score-panel {
        font-size: 14px;
    }
    .score-panel .restart {
        font-size: 14px;
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 1.8em;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .deck {
        max-width: 300px;
        justify-content: space-around;
        box-shadow: none;
    }
    .deck .card {
        height: 50px;
        width: 50px;
    }
    .score-panel {
        font-size: 14px;
        left: 25px;
        position: relative;    
    }
    .score-panel .restart {
        right: 48px;
        font-size: 14px;
        position: relative;  
    }
}